@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chau Philomene One", sans-serif;
}

header {
  background-image: url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 1.5rem 2rem;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  .menu-icon {
    color: white;
    font-size: 2rem;
  }
}

@mixin card-settings(
  $width: 405px,
  $height: 525px,
  $opacity: 1,
  $margin-top: 25px,
  $margin-left: 34px,
  $border-radius: 8px,
  $background-color: #b72222
) {
  width: $width;
  height: $height;
  background-color: $background-color;
  opacity: $opacity;
  margin-top: $margin-top;
  margin-left: $margin-left;
  border-radius: $border-radius;
}

@mixin p-settings(
  $font-family: Chau Philomene One,
  $font-weight: 400,
  $font-style: Regular,
  $font-size: 36px,
  $line-height: 100%,
  $letter-spacing: 0%,
  $color: #ffffff
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin paragrafo-settings(
  $position: absolute,
  $width: 219px,
  $height: 147px,

  $opacity: 1,
  $margin-left: 5px,
  $margin-top: 362px
) {
  position: $position;
  width: $width;
  height: $height;
  opacity: $opacity;
  margin-left: $margin-left;
  margin-top: $margin-top;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  .btn {
    background-color: #b72222;
    color: #d7cbcb;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
  }
}

.box-banner {
  height: 83vh;
  color: #d7cbcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  h1 {
    font-size: 7rem;
  }
  p {
    color: #fd1e1e;
    font-size: 2.5rem;
  }
}

.box-description {
  background: #d7cbcb;
  width: 100%;
  height: 205px;
  left: 0px;
  top: 810px;
  .paragrafo-description {
    width: 100%;
    height: 147px;
    p {
      @include p-settings(
        $line-height: 49px,
        $font-style: normal,
        $color: #000000,
        $font-size: 2.8rem
      );
      margin-left: 34px;
    }
  }
}

.box-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 1284px;
  background-color: #000000;
  .select-tasks {
    @include card-settings();
    .image-tasks {
      position: absolute;
      width: 389px;
      height: 369px;
      margin-top: 55px;
      margin-left: 8px;
    }
    .paragrafo-tasks {
      @include paragrafo-settings($position: relative, $margin-left: 12px);
      p {
        @include p-settings();
      }
    }
  }
  .select-time {
    @include card-settings();

    .image-time {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-image {
      @include paragrafo-settings($width: 355px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-pause {
    @include card-settings();

    .pause {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-pause {
      @include paragrafo-settings($width: 298px, $height: 98px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-other-pom {
    @include card-settings();

    .other-pom {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-other {
      @include paragrafo-settings($width: 364px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-four {
    @include card-settings();

    .four {
      width: 357px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-four {
      @include paragrafo-settings($width: 354px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-initial-cicle {
    @include card-settings();

    .initial-cicle {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-initial-cicle {
      @include paragrafo-settings($margin-left: 10px, $width: 364px);
      bottom: 0;

      p {
        @include p-settings();
        padding-top: 15px;
      }
    }
  }
}
