@use "mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chau Philomene One", sans-serif;
}

header {
  background-image: url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 1.5rem 2rem;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  .menu-icon {
    color: white;
    font-size: 2rem;
  }
}

.nav-left {
  align-items: center;
  width: 25vw;

  .btn {
    background-color: #b72222;
    color: #d7cbcb;
    text-decoration: none;
    padding: 0.6em 1.2em;
  }
}

.box-banner {
  height: 83vh;
  color: #d7cbcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  h1 {
    font-size: 7rem;
  }
  p {
    color: #fd1e1e;
    font-size: 2.5rem;
  }
}

.box-description {
  background: #d7cbcb;
  width: 100%;
  height: auto;
  left: 0px;
  .paragrafo-description {
    width: 100%;
    // height: auto;
    p {
      @include p-settings(
        $line-height: 49px,
        $font-style: normal,
        $color: #000000,
        $font-size: 2.8rem
      );
      margin-left: 34px;
    }
  }
}

.box-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #000000;
  .select-tasks {
    @include card-settings();
    .image-tasks {
      position: absolute;
      width: 389px;
      height: 369px;
      margin-top: 55px;
      margin-left: 8px;
    }
    .paragrafo-tasks {
      @include paragrafo-settings($position: relative, $margin-left: 12px);
      p {
        @include p-settings();
      }
    }
  }
  .select-time {
    @include card-settings();

    .image-time {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-image {
      @include paragrafo-settings($width: 355px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-pause {
    @include card-settings();

    .pause {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-pause {
      @include paragrafo-settings($width: 298px, $height: 98px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-other-pom {
    @include card-settings();

    .other-pom {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-other {
      @include paragrafo-settings($width: 364px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-four {
    @include card-settings();

    .four {
      width: 357px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-four {
      @include paragrafo-settings($width: 354px);
      bottom: 0;
      p {
        @include p-settings();
      }
    }
  }
  .select-initial-cicle {
    @include card-settings();

    .initial-cicle {
      width: 375px;
      height: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .paragrafo-initial-cicle {
      @include paragrafo-settings($margin-left: 10px, $width: 364px);
      bottom: 0;

      p {
        @include p-settings();
        padding-top: 15px;
      }
    }
  }
}

// configurar a responsividade aqui
// até 200 smart watch
// 201 a 500 celular
// 501 a 900 tablet
// 901 a 1500 desktops e notebooks
@media (min-width: 100px) and (max-width: 357px) {
  // .navbar {
  //   flex-direction: column;
  // }
}

@media (min-width: 201px) and (max-width: 501px) {
  header {
    padding: 1.5rem 0.2rem;
  }
  .nav-left {
    width: auto;
  }
  .box-banner {
    h1 {
      font-size: 2.5em;
    }
    p {
      color: #fd1e1e;
      font-size: 1.3em;
    }
  }

  .box-images .select-tasks {
    width: auto;
    margin-left: 0.5px;
  }
  .box-images .select-time {
    width: auto;
    margin-left: 0.5px;
  }
  .box-images .select-pause {
    width: auto;
    margin-left: 0.5px;
  }
  .box-images .select-other-pom {
    width: auto;
    margin-left: 0.5px;
  }
  .box-images .select-four {
    width: auto;
    margin-left: 0.5px;
  }
  .box-images .select-initial-cicle {
    width: auto;
    margin-left: 0.5px;
  }
}

@media (min-width: 501px) and (max-width: 901px) {
  .nav-left {
    width: auto;
  }
  .box-banner {
    h1 {
      font-size: 3.7em;
    }
    p {
      color: #fd1e1e;
      font-size: 1.5em;
    }
  }
}

@media (min-width: 902px) and (max-width: 1250px) {
  .nav-left {
    width: auto;
  }
}
